.App {
  text-align: center;
  margin: 50px;
}

.resulted-link {
  margin-top: 100px;
}

.link-like-btn {
  margin: 0;
  border: none;
  background: transparent;
  text-decoration: underline;
  color: blue;
}